<ng-template #footer>
    <div class="mb-4">
        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
        <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
    </div>
</ng-template>
<p-table
    dataKey="id"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)" 
    (onRowCollapse)="onRowCollapse($event)"
    [value]="students"   
    stripedRows    
    [tableStyle]="{ 'min-width': '50rem', 'table-layout': 'auto', 'width': '100%'}"
    [rows]=rows
    [first]="first"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template #header>
        <tr class="headerRow">
            <th 
                pSortableColumn="id">
                ID
                <p-sortIcon field="Id" class="icons"/>
            </th>
            <th 
                pSortableColumn="name">
                NAME
                <p-sortIcon field="Name" class="icons" />
            </th>
            <th 
                pSortableColumn="surname">
                SURNAME
                <p-sortIcon field="Surname" class="icons"/>
            </th>
            <th 
                pSortableColumn="gender">
                GENDER
                <p-sortIcon field="Gender" class="icons"/>
            </th>
            <th 
                pSortableColumn="birthDate">
                BIRTHDATE
                <p-sortIcon field="birthDate" class="icons"/>
            </th>
            <th 
                pSortableColumn="email">
                E-MAIL
                <p-sortIcon field="email" class="icons"/>
            </th>
            <th 
                pSortableColumn="phoneNumber">
                PHONE NUMBER
                <p-sortIcon field="phoneNumber" class="icons"/>
            </th>
            <th 
                pSortableColumn="address.homeAddress">
                ADDRESS
                <p-sortIcon field="address" class="icons"/>
            </th>
            <th 
                pSortableColumn="courses">
                COURSES
                <p-sortIcon field="Courses" class="icons"/>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-student let-expanded="expanded" styleClass="customTable">
        <tr class="contentRow">
            <td>{{ student.id }}</td>
            <td class="notWrap">{{ student.name }}</td>
            <td class="notWrap">{{ student.surname }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.birthDate }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phoneNumber }}</td>
            <td>{{ student.address.homeAddress }}, {{ student.address.city }}, {{ student.address.country }}</td>
            <td>
                <button pButton type="button" [pRowToggler]="student" pRipple icon="pi pi-chevron-down">
                </button>
            </td>
                <div class="actionButton" >
                    <p-speeddial 
                        [model]="menuItems" 
                        direction="down" 
                        type="linear" 
                        showIcon="pi pi-ellipsis-v" 
                        hideIcon="pi pi-times" 
                        (click)="openMenu(student)" 
                        [buttonStyle]="{'width': '30px','height': '30px', 'padding': '0', 'margin': '0', 
                        'background-color': 'var(--p-primary-100) !important', 'border-color': 'var(--p-primary-100) !important',
                        'color': 'var(--p-primary-500) !important', 'border-radius': '1ex !important'}"
                        >
                    </p-speeddial>
                </div>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-student>
        <tr class="expandedTable">
            <td>
                <div>
                    <p-table 
                        [value]="student.courses" 
                        dataKey="id" 
                        >
                        <ng-template #header>
                            <tr class="headerRow">
                                <th>
                                    COURSE ENROLLEMENT:
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-course>
                            <tr class="coursesInOverview">
                                <td>
                                    {{ course.name }}
                                </td>
                            </tr>
                        </ng-template>
                        
                    </p-table>
                </div>
            </td>
        </tr>
        
    </ng-template>
</p-table>