<p-message *ngIf="errMsgs.length > 0" severity="error">{{ error }} 
    <a href="overview">go to student overview</a>
</p-message>
<p-table 
    [value]="[student]" 
    stripedRows
    *ngIf="errMsgs.length == 0">
    <ng-template #header>
    </ng-template>
    <ng-template #body let-student>
        <tr class="headerRow">
            <th>ID</th>
            <th>NAME</th>
            <th>SURNAME</th> 
            <th>GENDER</th>
            <th>BIRTHDAY</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ADDRESS</th> 
        </tr>
    
        <tr *ngIf="errMsgs.length == 0" class="contentRow">
            <td>{{ student.id }}</td>
            <td class="notWrap">{{ student.name }}</td>
            <td class="notWrap">{{ student.surname }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.birthDate }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phoneNumber }}</td>
            <td>{{ student.address.homeAddress }}, {{ student.address.postalCode }} {{ student.address.city }}, {{ student.address.country }}</td>
        </tr>

        <tr *ngIf="errMsgs.length == 0" class="headerWithSub headerRow">
            <th colspan="3">COURSES</th>
        </tr>
        <tr class="headerRow subHeaderRow">
            <th>ENROLED</th>
            <th>ID</th>
            <th>COURSE NAME</th>
        </tr>
    
            
        <tr *ngFor="let course of allCourses" class="contentRow">
            <td><p-inputgroup class="course-inputgroup">
                <p-checkbox 
                    [inputId]="course.id"  
                    [value]="course" 
                    [(ngModel)]="student.courses"
                    />
            </p-inputgroup></td>
            <td>
                {{ course.id }}
            </td>
            <td>
                {{ course.name }}
            </td>
        </tr>

        <button pButton *ngIf="errMsgs.length == 0" type="submit" (click)="onSubmit()" class="saveButtonFixed" style=" z-index: 100">
            <span pButtonLabel>Save</span>
        </button>

    </ng-template>    