/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
html{
    padding: 0 !important;
    margin: 0 !important;
}
body{
    background-color: var(--p-primary-10);/* #f0eff0;*/
    padding: 0;
    margin: 0;
    text-align: center !important;
    font-family: 'Open Sans';
    font-size: small;
    color: var(--p-primary-0) !important;
}

main{
    margin: 8px;
    padding: 0 1vh 0 1vh !important;
    font-size: 13px;
}

nav{
    background-color: var(--p-primary-500);
    top: 0 !important;
    height: 15vh;
    padding: 1.5vh !important;
}

.p-paginator{
    margin-top: 5vh !important;
}

td, th{
    text-align:  left !important;
    padding-top: 2.5ex !important;
    padding-bottom: 2.5ex !important;
    border-color: #00000000 !important;
    overflow-wrap: break-word !important;
    display: table-cell;

}

.notWrap, p-message{ /*for cells we do not want broken (name, surname)*/
    white-space: nowrap !important;
}

th{
    text-align: left !important;
    font-weight: lighter !important;
    width: 100% !important;
    text-align: center !important;
}

td{
    color: var(--p-primary-500); /*#594859 !important; */
    width: 100% !important;
    text-align: center !important;
    overflow: hidden;
}

input{
    width: 100% !important;
    top: 0 !important;
    border-radius: 1ex !important;
    display: flex !important;

}

/*button on sites /add and /eddit */
.saveButtonFixed{ 
    background: var(--p-green-700) !important;
}

.course-inputgroup { 
  display: block !important;
  align-items: center ;
}


.contentRow, .headerRow{
    margin-bottom: 0.7ex !important;
    margin-top: 0.7ex !important;
    display: inline-flex !important; /*block*/
    width: 100% !important;
    border-radius: 1ex !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.headerRow{
    background-color: var(--p-primary-400) !important;/*#6c5d6c !important;*/
    color: var(--p-primary-0) !important;
    padding: 2vh 0 2vh 0 !important;
}

.subHeaderRow{
    top: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
    background-color: var(--p-primary-350) !important;/*#817681 !important;*/
    border-radius: 0 0 1ex 1ex !important;
}

.headerWithSub{
    margin-bottom: 0 !important;
    border-radius: 1ex 1ex 0 0 !important;
}

.p-datatable-column-sorted, .p-datatable-thead > tr > th {
    background: #00000000 !important;
    color: inherit !important;

}

.p-datatable-column-sorted .p-datatable-sort-icon, .p-datatable-sort-icon {
    color: var(--p-primary-0) !important
}

.p-paginator-current {
    float: left !important;
    left: 0 !important;
    display: absolute !important;
}









