.deleteButtonFixed{
    background-color: var(--p-red-700) !important;
    border-color: var(--p-red-700) !important;
}

.deleteButtonFixed:hover{
    background-color: var(--p-red-700) !important;
    border-color: var(--p-red-700) !important;
}