

.vertical-inputgroup {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
}



td p-message{
    min-height: 0ex !important;
    max-height: 0ex !important;
}

