<p-message *ngIf="errMsgs.length > 0" severity="error">{{ error }} 
    <a href="overview">go to student overview</a>
</p-message>
<p-table 
    [value]="[student]" 
    stripedRows
    *ngIf="errMsgs.length == 0">
    <ng-template #header></ng-template>
    <ng-template #body let-student>
        <tr class="headerRow">
            <th>NAME</th>
            <th>SURNAME</th> 
            <th>GENDER</th>
            <th>BIRTHDAY</th>
            <th>EMAIL</th>
            <th>PHONE</th> 
        </tr>
        <tr *ngIf="errMsgs.length == 0" class="contentRow">
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="text" 
                    name="name" 
                    #name="ngModel" 
                    placeholder="John" 
                    [(ngModel)]="student.name" 
                    required
                    [invalid]="name.invalid && (name.touched || submitted)" />
                @if (name.invalid && (name.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">Name is required.</p-message>
                }
            </p-inputgroup></td>
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="text" 
                    name="surname" 
                    #surname="ngModel" 
                    placeholder="Smith" 
                    [(ngModel)]="student.surname" 
                    required 
                    [invalid]="surname.invalid && (surname.touched || submitted)"/>
                @if (surname.invalid && (surname.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">Surname is required.</p-message>
                }
            </p-inputgroup></td>
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="text" 
                    name="gender" 
                    #gender="ngModel" 
                    maxlength="1" 
                    placeholder="M/F" 
                    pattern="^(M|F|m|f)"
                    style="text-transform:uppercase" 
                    [(ngModel)]="student.gender" 
                    required  
                    [invalid]="gender.invalid && (gender.touched || submitted)"/>
                @if (gender.model == "" && (gender.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">Gender is required.</p-message>
                }
                @if ( gender.model != "" && gender.invalid && submitted) {
                <p-message severity="error" size="small" variant="simple">Gender can be only M or F</p-message>
                }
            </p-inputgroup></td>
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="date" 
                    name="birthdate" 
                    #birthdate="ngModel" 
                    placeholder="1. 1. 2000" 
                    [(ngModel)]="student.birthDate" 
                    required 
                    [invalid]="birthdate.invalid && ((birthdate).touched || submitted)" />
                @if (birthdate.invalid && (birthdate.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">Birthdate is required.</p-message>
                }
            </p-inputgroup></td>
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="email" 
                    name="email" 
                    #email="ngModel" 
                    placeholder="example@example.com" 
                    [(ngModel)]="student.email" 
                    pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                    [invalid]="email.invalid && submitted"/>
                @if (email.invalid) {
                <p-message severity="error" size="small" variant="simple">Email is not valid.</p-message>
                }
                @if (email.hasError('checkValues()')) {
                    Please enter a valid email.
                }
            </p-inputgroup></td>
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="tel" 
                    name="phone"
                    #phone="ngModel"
                    pattern="^[0-9]{6,}"
                    placeholder="012345678" 
                    [(ngModel)]="student.phoneNumber"
                    [invalid]="phone.invalid" />
                @if (phone.invalid) {
                <p-message severity="error" size="small" variant="simple">Phone is not valid.</p-message>
                }
            </p-inputgroup></td>
        </tr>
        <!--br-->
        <tr *ngIf="errMsgs.length == 0" class="headerWithSub headerRow">
            <th colspan="4">ADDRESS</th>
        </tr>
        <tr class="headerRow subHeaderRow">
            <th>HOME ADDRESS</th>
            <th>POSTAL CODE</th>
            <th>CITY</th>
            <th>COUNTRY</th>
        </tr>        
        <tr class="contentRow"> 
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="text" 
                    #street="ngModel" 
                    placeholder="street and house number" 
                    [(ngModel)]="student.address.homeAddress" 
                    required 
                    [invalid]="street.invalid && (street.touched || submitted)"/>
            @if (street.invalid && (street.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">Home address is required.</p-message>
                }
            </p-inputgroup></td>
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="text" 
                    #post="ngModel" 
                    placeholder="0000" 
                    [(ngModel)]="student.address.postalCode" 
                    required 
                    [invalid]="post.invalid && (post.touched || submitted)"/>
                @if (post.invalid && (post.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">Postal code is required.</p-message>
                }
            </p-inputgroup></td>
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="text" 
                    #city="ngModel" 
                    placeholder="Montana" 
                    [(ngModel)]="student.address.city" 
                    pattern="^[a-zA-Z' ']*"
                    required 
                    [invalid]="city.invalid && (city.touched || submitted)"/>
                @if (city.model == "" && (city.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">City is required.</p-message>
                }
                @if (city.model != "" && city.invalid) {
                <p-message severity="error" size="small" variant="simple">City cannot have numbers.</p-message>
                }
            </p-inputgroup></td>                
            <td><p-inputgroup class="vertical-inputgroup">
                <input 
                    pInputText 
                    type="text" 
                    #country="ngModel" 
                    placeholder="USA" 
                    pattern="^[a-zA-Z' ']*"
                    [(ngModel)]="student.address.country" 
                    required 
                    [invalid]="country.invalid && (country.touched || submitted)"/>
                @if (country.model == "" && (country.touched || submitted)) {
                <p-message severity="error" size="small" variant="simple">Country is required.</p-message>
                }
                @if (country.model != "" && country.invalid) {
                <p-message severity="error" size="small" variant="simple">Country cannot have numbers.</p-message>
                }
            </p-inputgroup></td>
        </tr>
        <tr class="headerWithSub headerRow">
            <th colspan="3" rowspan="2">COURSES</th>
        </tr>
        <tr class="headerRow subHeaderRow">
            <th style="width: 10%;">ENROLED</th>
            <th style="width: 10%;">ID</th>
            <th>COURSE NAME</th>
        </tr>
        <tr *ngFor="let course of allCourses" class="contentRow">
            <td><p-inputgroup class="course-inputgroup">
                <p-checkbox 
                    [inputId]="course.id"  
                    [value]="course" 
                    [(ngModel)]="student.courses"
                    />
            </p-inputgroup></td>
            <td>
                {{ course.id }}
            </td>
            <td>
                {{ course.name }}
            </td>            
        </tr>
        <p-toast />
        <p-dialog header="Add another student?" [modal]="true" [(visible)]="addStudentPopup">
            <button pButton (click)="reloadPage()">
                <span pButtonLabel>Yes</span>
            </button>
            <button pButton [routerLink]="'/overview'" severity="secondary">
                <span pButtonLabel>No</span>
            </button>
        </p-dialog>

        <button pButton *ngIf="errMsgs.length == 0;" type="submit" (click)="onSubmit()" class="saveButtonFixed" >
            <span pButtonLabel>Save</span>
        </button>
    </ng-template>    