#profile{
    position: absolute;
    top: 20px;
    left: 30px;
    display: inline !important;
}

#navButton {
    position: absolute;
    top: 30px;
    right: 20px;
    display: inline !important;

}

#navButton button {
    margin: 2ex;
    border-color: var(--p-primary-10);
}
